@font-face {
    font-family: 'LaundryGothic';
    src: url('OTLaundryGothicB.woff2') format('woff2'),
        url('OTLaundryGothicB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

